.fullHeight {
    min-height: 100%;
    min-height: 100vh;
    /* height: 100vh; */
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    color: white;
    right: 0;
    width: 225px;
    align-items: center;
    display: flex;
}