<!--Wrap the column to the right side of the website-->
<!--Do router links for each of the links-->

<div class="p-grid p-align-center">
  <div class="p-col">4</div>
  <div class="p-col">4</div>

  <div class="p-col">
    <nav>
      <ul>
        <li>home</li>
        <li>about</li>
        <li>menu</li>
        <li>location</li>
        <li>announcements</li>
      </ul>
    </nav>

    <button pButton type="button" label="Click" ></button>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>